@using System.Web.UI.HtmlControls
@using CRMManager.Models
@model CRMManager.Models.Authentication


@{
    ViewBag.Title = "Athena CRM Login [Server DateTime : " + DateTime.Now + " ]";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-color panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@ViewBag.Title</h3>
            </div>

            <div class="panel-body">
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>

                <!--Search Page Start-->
                @using (Html.BeginForm("LoginActionSubmit", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {

                    @Html.AntiForgeryToken()// this is for prevent CSRF attack
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <div class="form-group">
                            <label for="LoginId" class="col-sm-3 control-label">LoginId: </label>
                            <div class="col-sm-7">
                                <input type="email" class="form-control" id="LoginId" name="LoginId" value="">
                            </div>
                            @Html.ValidationMessage("loginid")
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-3 control-label">Password: </label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" id="Password" name="Password" value="">
                            </div>
                            @Html.ValidationMessage("password")
                        </div>

                        <div class="form-group m-b-0">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-info waves-effect waves-light">Sign in</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

